div {

	position: absolute;
}
.box1 {
	top:60px;
	left: 65px;
	width: 0px;
	height: 0px;
	border-left: 160px solid transparent; 
	border-right: 160px solid transparent;
	border-bottom: 200px solid rgb(251, 57, 255);
	transform: rotate(90deg);
}
.box2 {
	top:85px;
	left: 105px;
	width: 0px;
	height: 0px;
	border-left: 100px solid transparent; 
	border-right: 100px solid transparent;
	border-bottom: 160px solid rgb(0, 0, 0);
transform: rotate(90deg); 
}

.box3 {
	top:310px;
	left: 125px;
	width: 0px;
	height: 0px;
	border-left: 0px solid transparent; 
	border-right: 170px solid transparent;
	border-bottom: 210px solid rgb(251, 57, 255);
	
}
.box4 {
	top:400px;
	left: 150px;
	width: 0px;
	height: 0px;
	border-left: 0px solid transparent; 
	border-right: 80px solid transparent;
	border-bottom: 120px solid rgb(0, 0, 0);
}
.box5 {
	top: 60px;
	left: 380px;
	width: 0px;
	height: 0px;
	border-left: 130px solid transparent; 
	border-right: 130px solid transparent;
	border-bottom: 460px solid rgb(251, 57, 255);
}
.box6 {
	top: 260px;
	left: 450px;
	width: 0px;
	height: 0px;
	border-left: 50px solid transparent; 
	border-right: 50px solid transparent;
	border-bottom: 260px solid rgb(0, 0, 0);
}
.box7 {
	top: 60px;
	left: 660px;
	width: 0px;
	height: 0px;
	border-left: 100px solid transparent; 
	border-right: 100px solid transparent;
	border-bottom: 460px solid rgb(0, 0, 0);
}
.box8 {
	top: 60px;
	left: 760px;
	width: 0px;
	height: 0px;
	border-left: 100px solid transparent; 
	border-right: 100px solid transparent;
	border-bottom: 460px solid rgb(251, 57, 255);
	transform: rotate(180deg); 
}
.box9 {
	top: 400px;
	left: 730px;
	width: 0px;
	height: 0px;
	border-left: 30px solid transparent; 
	border-right: 30px solid transparent;
	border-bottom: 120px solid rgb(251, 57, 255);
}
.box10 {
	top: 60px;
	left: 830px;
	width: 0px;
	height: 0px;
	border-left: 30px solid transparent; 
	border-right: 30px solid transparent;
	border-bottom: 120px solid rgb(0, 0, 0);
	transform: rotate(180deg);
}
.box11 {
	top: 60px;
	left: 1140px;
	width: 0px;
	height: 0px;
	border-left: 120px solid transparent; 
	border-right: 120px solid transparent;
	border-bottom: 460px solid rgb(0, 0, 0);
}
.box12 {
	top: 60px;
	left: 1020px;
	width: 0px;
	height: 0px;
	border-left: 120px solid transparent; 
	border-right: 120px solid transparent;
	border-bottom: 460px solid rgb(251, 57, 255);
	transform: rotate(180deg); 
}
.box13{
	top: 460px;
	left: 1140px;
	width: 0px;
	height: 0px;
	border-left: 120px solid transparent; 
	border-right: 120px solid transparent;
	border-bottom: 60px solid rgb(251, 57, 255);
}
.box14{
	top: 370px;
	left: 1280px;
	width: 0px;
	height: 0px;
	border-left: 30px solid transparent; 
	border-right: 30px solid transparent;
	border-bottom: 160px solid rgb(251, 57, 255);
	transform: rotate(132deg); 
}
.box15{
	top: 220px;
	left: 1000px;
	width: 0px;
	height: 0px;
	border-left: 160px solid transparent; 
	border-right: 160px solid transparent;
	border-bottom: 140px solid rgb(0, 0, 0);
	transform: rotate(290deg); 
}
.box16 {
	top: 60px;
	left: 1449px;
	width: 0px;
	height: 0px;
	border-left: 120px solid transparent; 
	border-right: 120px solid transparent;
	border-bottom: 460px solid rgb(251, 57, 255);
}
.box17 {
	top: 60px;
	left: 1330px;
	width: 0px;
	height: 0px;
	border-left: 120px solid transparent; 
	border-right: 120px solid transparent;
	border-bottom: 460px solid rgb(251, 57, 255);
	transform: rotate(180deg); 
}

.box18{
	top: 115px;
	left: 1408px;
	width: 0px;
	height: 0px;
	border-left: 90px solid transparent; 
	border-right: 90px solid transparent;
	border-bottom: 220px solid rgb(0, 0, 0);
	transform: rotate(255.5deg); 
} 
.box19{
	top: 285px;
	left: 1452.5px;
	width: 0px;
	height: 0px;
	border-left: 90px solid transparent; 
	border-right: 90px solid transparent;
	border-bottom: 220px solid rgb(0, 0, 0);
	transform: rotate(255.5deg); 
} 
.box20 {
	top: 60px;
	left: 1760px;
	width: 0px;
	height: 0px;
	border-left: 100px solid transparent; 
	border-right: 100px solid transparent;
	border-bottom: 460px solid rgb(0, 0, 0);
}
.box21 {
	top: 60px;
	left: 1860px;
	width: 0px;
	height: 0px;
	border-left: 100px solid transparent; 
	border-right: 100px solid transparent;
	border-bottom: 460px solid rgb(251, 57, 255);
	transform: rotate(180deg); 
}
.box22{
	top: 300px;
	left: 1830px;
	width: 0px;
	height: 0px;
	border-left: 30px solid transparent; 
	border-right: 30px solid transparent;
	border-bottom: 130px solid rgb(251, 57, 255);
	transform: rotate(103deg); 
}

.box23{
	top: 300px;
	left: 1830px;
	width: 0px;
	height: 0px;
	border-left: 30px solid transparent; 
	border-right: 30px solid transparent;
	border-bottom: 130px solid rgb(251, 57, 255);
	transform: rotate(103deg); 
}
.box24{
	top: 140px;
	left: 1933px;
	width: 0px;
	height: 0px;
	border-left: 30px solid transparent; 
	border-right: 30px solid transparent;
	border-bottom: 130px solid rgb(0, 0, 0);
	transform: rotate(282deg); 
}




.description {
	top: 600px;
	left: 40px;
	font-family: "courier";
	font-size: 20px;
	line-height: 48px;
}

