div {

	position: absolute;
}
.box1 {
	top:60px;
	left: 65px;
	width: 0px;
	height: 0px;
	border-left: 160px solid transparent; 
	border-right: 160px solid transparent;
	border-bottom: 200px solid rgb(251, 57, 255);
	transform: rotate(90deg);
}
.box2 {
	top:85px;
	left: 105px;
	width: 0px;
	height: 0px;
	border-left: 100px solid transparent; 
	border-right: 100px solid transparent;
	border-bottom: 160px solid rgb(0, 0, 0);
transform: rotate(90deg); 
}

.box3 {
	top:310px;
	left: 125px;
	width: 0px;
	height: 0px;
	border-left: 0px solid transparent; 
	border-right: 170px solid transparent;
	border-bottom: 210px solid rgb(251, 57, 255);
	
}
.box4 {
	top:400px;
	left: 150px;
	width: 0px;
	height: 0px;
	border-left: 0px solid transparent; 
	border-right: 80px solid transparent;
	border-bottom: 120px solid rgb(0, 0, 0);
}
.box5 {
	top: 60px;
	left: 380px;
	width: 0px;
	height: 0px;
	border-left: 130px solid transparent; 
	border-right: 130px solid transparent;
	border-bottom: 460px solid rgb(251, 57, 255);
}
.box6 {
	top: 260px;
	left: 450px;
	width: 0px;
	height: 0px;
	border-left: 50px solid transparent; 
	border-right: 50px solid transparent;
	border-bottom: 260px solid rgb(0, 0, 0);
}
.box7 {
	top: 60px;
	left: 660px;
	width: 0px;
	height: 0px;
	border-left: 100px solid transparent; 
	border-right: 100px solid transparent;
	border-bottom: 460px solid rgb(0, 0, 0);
}
.box8 {
	top: 60px;
	left: 760px;
	width: 0px;
	height: 0px;
	border-left: 100px solid transparent; 
	border-right: 100px solid transparent;
	border-bottom: 460px solid rgb(251, 57, 255);
	transform: rotate(180deg); 
}
.box9 {
	top: 400px;
	left: 730px;
	width: 0px;
	height: 0px;
	border-left: 30px solid transparent; 
	border-right: 30px solid transparent;
	border-bottom: 120px solid rgb(251, 57, 255);
}
.box10 {
	top: 60px;
	left: 830px;
	width: 0px;
	height: 0px;
	border-left: 30px solid transparent; 
	border-right: 30px solid transparent;
	border-bottom: 120px solid rgb(0, 0, 0);
	transform: rotate(180deg);
}
.box11 {
	top:40px;
	left: 840px;
	width: 0px;
	height: 0px;
	border-left: 300px solid transparent; 
	border-right: 300px solid transparent;
	border-bottom: 300px solid rgb(251, 57, 255);
	transform: rotate(315deg);
}
.box12 {
	top:252px;
	left: 1052px;
	width: 0px;
	height: 0px;
	border-left: 300px solid transparent; 
	border-right: 300px solid transparent;
	border-bottom: 300px solid rgb(0, 0, 0);
	transform: rotate(135deg);
}
.box13 {
	top:300px;
	left: 1336px;
	width: 0px;
	height: 0px;
	border-left: 60px solid transparent; 
	border-right: 60px solid transparent;
	border-bottom: 190px solid rgb(251, 57, 255);
	transform: rotate(150deg);
}
.box14 {
	top:180px;
	left: 1000px;
	width: 0px;
	height: 0px;
	border-left: 180px solid transparent; 
	border-right: 180px solid transparent;
	border-bottom: 180px solid rgb(0, 0, 0);
	transform: rotate(315deg);
}
.box15 {
	top:454px;
	left: 1033px;
	width: 0px;
	height: 0px;
	border-left: 213px solid transparent; 
	border-right: 213px solid transparent;
	border-bottom: 55px solid rgb(251, 57, 255);
	transform: rotate(0deg);
}
.box16 {
	top:195px;
	left: 1400px;
	width: 0px;
	height: 0px;
	border-left: 210px solid transparent; 
	border-right: 210px solid transparent;
	border-bottom: 200px solid rgb(0, 0, 0);
	transform: rotate(90deg); 
}
.box17 {
	top:195px;
	left: 1400px;
	width: 0px;
	height: 0px;
	border-left: 110px solid transparent; 
	border-right: 110px solid transparent;
	border-bottom: 100px solid rgb(251, 57, 255);
	transform: rotate(90deg); 
}




